[package]
name = "sync-server"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi = "2"
napi-derive = "2"
proxy-server = "0.3.1"

[build-dependencies]
napi-build = "1"
